.benefits {
  display: flex;
  gap: 55px;

  .benefits__item {
    position: relative;
    flex: 1;

    &::before {
      content: '../../img/icons/dots.png';
      position: absolute;
      top: 30px;
      right: 0;
      transform: translateX(50%);
    }
  }
}
